h1 {
    font-size: 2em;
    color: hsl(0, 1%, 34%);
    
}

body {
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(248, 211, 231, 0.575);
    color: #696868;

}

#minhafoto {
    font-size: 15px;
    
}

#cidade {
    font-weight: bold;
    
}
.sitios {
    font-style: italic;
}