h1 {
    font-size: 2em;
    
}

body {
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(143, 143, 143, 0.575);
    color: #575656;
    text-align: justify;
    margin: 0;
    padding: 0;    
}

footer {
    background-color: rgb(119, 117, 117);
    padding: 10px;
    
}
footer .sitios{
 margin-left: 30px;
}

#minhafoto {
    border-radius: 30%;    
}

#cidade {
    font-weight: bold;
    
}

.sitios {
    display: flex;
    flex-direction: row;
    font-style: italic;
    list-style: none;
}

.lis {
    margin-right: 30px;
}

.sobre-mim{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(173, 115, 144);
}

.link-interno{
    font-size: 15px;
    top: 5px;
}

.myphoto{
    border-radius: 20%;
}

.myskills {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.skills {
    padding: 10px 200px 10px 50px;
}

.projetos {
    padding: 10px 200px 10px 50px;
}